<h2></h2>
<ul class="heroes">
    <!-- Se agrega la clase select siempre que exista un heroe seleccionado -->
    <li *ngFor="let hero of heroes" [class.select]="selectHero">
        <button type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}} </span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>

<div *ngIf="selectHero">
    <!-- | Es un pipe sirve para formatear el dato mostrado en este caso name a mayusculas -->
    <h2>{{selectHero.name | uppercase}}</h2>
    <div>id: {{selectHero.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <!-- Para utilizar ngmodel y tener comunicacion ts - html y viceversa importar FormsModule en el archivo .module del proyecto -->
        <input id="hero-name" [(ngModel)]="selectHero.name" placeholder="name">
    </div>
</div>