<h2></h2>
<ul class="heroes">
    <!-- Se agrega la clase select siempre que exista un heroe seleccionado -->
    <li *ngFor="let hero of heroes" [class.select]="selectedHero">
        <button type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}} </span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>
<!-- Se envia el selectHero al atributo hero del componente hero detail  -->
<app-hero-detail [hero] = "selectedHero"></app-hero-detail>